.navbar-head {
  /* font-size: 74px; */
  font-weight: 400;
  line-height: 84px;
  letter-spacing: -0.05em;
  text-align: center;
}



.navbar-subhead {
  /* font-family: Haffer SQ XH; */
  /* font-size: 24px; */
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #A3A3A3;
}

.nav-bg-image {
  width: 100%;
  height: auto;
  /* position: absolute; */
  /* object-fit: fill; */
}